{{#allLeadings}}
    {{^-first}}
        ,
    {{/-first}}
    {{#patternDataItemValueStmt}}
        {{#call}}{{>call}}{{/call}}
        {{#literal}}{{>literal}}{{/literal}}
        {{#$replacingAllLeadingsType}}
            {{%operand}}
        {{/replacingAllLeadingsType}}
        {{^$replacingAllLeadingsType}}
            {{%tallyingTarget=operand;""}}
            new TallyingTarget({{%tallyingTarget}}
        {{/replacingAllLeadingsType}}
    {{/patternDataItemValueStmt}}
    {{#by}}
        {{#byValueStmt}}
            {{#call}}{{>call}}{{/call}}
            {{#literal}}{{>literal}}{{/literal}}
            {{%byTarget=operand;""}}
            ,{{%byTarget}}
        {{/byValueStmt}}
    {{/by}}
    {{%hasBeforeAfter=null;""}}
    {{#beforeAfterPhrases}}
        {{%isBefore=obj_getVar("beforeAfterType") == "BEFORE";""}}
        {{#call}}{{>call}}{{/call}}
        {{#literal}}{{>literal}}{{/literal}}
        {{%tallyingBeforeAfter=operand;""}}
        {{#-first}}
            ,{{%hasBeforeAfter="hasBeforeAfter";""}}
        {{/-first}}
        {{#$hasBeforeAfter}}
            {{^-first}}{{^-last}}
                ,
            {{/-last}}{{/-first}}
            new BeforeAfter({{%isBefore}},false,{{%tallyingBeforeAfter}})
        {{/hasBeforeAfter}}
    {{/beforeAfterPhrases}}
    {{#patternDataItemValueStmt}}
        {{^$replacingAllLeadingsType}}
            )
        {{/replacingAllLeadingsType}}
    {{/patternDataItemValueStmt}}
{{/allLeadings}}