{{%statementType=obj_getVar("statementType");SUBTRACT = statementType == "SUBTRACT" ? "SUBTRACT" : null;""}}
{{%curObj=obj_getCurObj();""}}
{{#$SUBTRACT}}{{#$curObj}}
    {{%substractValue = "";""}}
    {{#subtractFromStatement}}
        {{>baseActions.substractends}}
    {{/subtractFromStatement}}
    {{#subtractFromGivingStatement}}
        {{>baseActions.substractends}}
    {{/subtractFromGivingStatement}}
    {{#subtractCorrespondingStatement}}//TODO subtractCorrespondingStatement{{/subtractCorrespondingStatement}}
    {{#notOnSizeErrorPhrase}}//TODO SUBTRACT notOnSizeErrorPhrase{{/notOnSizeErrorPhrase}}
    {{#onSizeErrorPhrase}}//TODO SUBTRACT onSizeErrorPhrase{{/onSizeErrorPhrase}}
{{/curObj}}{{/SUBTRACT}}