{{!--All caller are used with independent scope--}}
{{#statements}}
    {{#-first}}
        {{%needDefaultParagraph="$needDefaultParagraph";""}}
    {{/-first}}
{{/statements}}
{{%
    subparameters="subparameters";
    parametersWithoutType=null;
    parameters = null;
    initStmt = null;
""}}
{{%paramList = obj_newList();""}}
{{#usingClause.usingParameters}}
    {{>callSub.parameter(subparameters,parametersWithoutType,parameters,initStmt)[parameters,parametersWithoutType,initStmt,param,operandType]}}
    {{%obj_addToList(paramList,param);""}}
{{/usingClause.usingParameters}}
{{%
    func_parameters=parameters == null ? "":parameters;
    func_parametersWithoutType=parametersWithoutType == null ? "":parametersWithoutType;
    func_initStmt=initStmt == null ?"":initStmt;
""}}