{{#valueStmt.call}}
    {{>call}}
{{/valueStmt.call}}
{{#referenceCall}}
    {{>call}}
{{/referenceCall}}
{{#valueStmt.literal}}
    {{>literal}}
{{/valueStmt.literal}}
{{#$subparameters}}
    {{%operandType=name_getFieldType(operand);""}}
{{/subparameters}}
{{%
    param = operand;
    param = subparameters == null && paramType== "byContents" ? "Util.clone("+param+")":param;
    param = subparameters == null && paramType== "byReferences" ? "new "+name_getFieldType(operand)+"[]{"+param+"}":param;
    param = subparameters != null ? operandType + " "+operand : operand;
    parameters = parameters == null ?  param: parameters + "," + param;
    parametersWithoutType = parametersWithoutType == null ?  operand: parametersWithoutType + "," + operand;
""}}
{{%
    curInitStmt = "this."+operand+"="+operand+";\n";
    initStmt = initStmt == null ? curInitStmt : initStmt + curInitStmt;
""}}