{{#byContentPhrase.byContents}}
    {{%paramType="byContents";""}}
    {{>callSub.paramValue}}
{{/byContentPhrase.byContents}}
{{#byReferencePhrase.byReferences}}
    {{%paramType="byReferences";""}}
    {{>callSub.paramValue}}
{{/byReferencePhrase.byReferences}}
{{#byValuePhrase.byValues}}
    {{%paramType="byValues";""}}
    {{>callSub.paramValue}}
{{/byValuePhrase.byValues}}