{{%
    subparameters="subparameters";
    parametersWithoutType=null;
    parameters = null;
    initStmt = null;
""}}
{{#usingClause.usingParameters}}
    {{>callSub.parameter}}
{{/usingClause.usingParameters}}
{{%subparameters=null;""}}