{{#literal}}{{>literal}}{{/literal}}
{{#acceptCall}}{{>call}}{{/acceptCall}}
{{%accpName=operand;""}}
{{#acceptCall.delegate.delegate}}
        {{%accpName}} = {{%sType = obj_getVar("acceptType");sType == "DATE" ? "Util.now();" : "Util.Input()"}}
{{/acceptCall.delegate.delegate}}