{{#acceptCall.delegate.delegate}}
        {{%
            delegate = name_toField(obj_getVar("name"));
            delegate=name_delegateName(delegate);
        }} = {{%sType = obj_getVar("acceptType");sType == "DATE" ? "Util.now();" : "Util.Input()"}}
{{/acceptCall.delegate.delegate}}