{{%
    dimString = null;
    isTable = obj_getVar("delegate.callType") == "TABLE_CALL";
    delegate= isTable? name_toField(obj_getVar("delegate.name")) :
        name_toField(obj_getVar("delegate.delegate.name"));
    delegate= name_delegateName(delegate);
    operand = delegate;
""}}{{#delegate.subscripts}}{{%
    dimString = isTable ? obj_getVar("ctx.text"):null;
    operand = operand + (dimString == null ? "": "["+dimString+"]");
""}}{{/delegate.subscripts}}