{{%statementType=obj_getVar("statementType");COMPUTE = statementType == "COMPUTE" ? "COMPUTE" : null;""}}
{{#$COMPUTE}}
    {{#arithmeticExpression}}{{%arithmeticExpression=expr_convertExpr(obj_getVar("ctx.text"));""}}{{/arithmeticExpression}}
    {{#stores}}
        {{#storeCall}}{{>call}}{{%storeName=operand;""}}{{/storeCall}}
        {{%
            rounded=obj_getVar("rounded") ? "yes":null;
        ""}}
        {{%storeName}}={{#$rounded}}Math.round({{/rounded}}{{%arithmeticExpression}}{{#$rounded}}){{/rounded}};
    {{/stores}}
{{/COMPUTE}}