{{%statementType=obj_getVar("statementType");COMPUTE = statementType == "COMPUTE" ? "COMPUTE" : null;""}}
{{#$COMPUTE}}
    {{#arithmeticExpression}}{{%arithmeticExpression=expr_convertExpr(obj_getVar("ctx.text"));""}}{{/arithmeticExpression}}
    {{#stores}}
        {{%
            storeName=name_toField(obj_getVar("storeCall.delegate.delegate.name"));
            storeName=name_delegateName(storeName);
            rounded=obj_getVar("rounded") ? "yes":null;
        ""}}
        {{%storeName}}={{#$rounded}}Math.round({{/rounded}}{{%arithmeticExpression}}{{#$rounded}}){{/rounded}};
    {{/stores}}
{{/COMPUTE}}