{{#occursClauses}}{{%
    dimension=obj_getVar("from.integerLiteral.value");
    dimension != null ? dim_push(dimension) : dim_push(0);
    dimStr = dimension != null ? dimension : null;
    dimLevelStr = dim_value();
""}}{{/occursClauses}}