{{#occursClauses}}{{%
    dimension=obj_getVar("from.integerLiteral.value");
    dimStr = dimStr == null ? dimension : dimStr +","+ dimension;
    dimStr = dimension == null ? null : dimStr;
""}}{{/occursClauses}}