{{#operands}}{{#operandValueStmt}}{{#literal}}{{>literal}}{{/literal}}{{#call}}{{>call}}{{/call}}{{/operandValueStmt}}{{%
""}}{{#$operand}}{{%operand}}{{/operand}}{{#$dimString}}[{{%dimString}}]{{/dimString}}{{^-last}},{{/-last}}{{/operands}}