{{%statementType=obj_getVar("statementType");DIVIDE = statementType == "DIVIDE" ? "DIVIDE" : null;""}}
{{#$DIVIDE}}
    {{%divideOpand=null;remainder=null;""}}
    {{#operandValueStmt}}{{>call1}}{{>literal1}}{{%divideOpand=sendValue;""}}{{/operandValueStmt}}
    {{#remainder}}{{%remainder=name_delegateName(name_toField(obj_getVar("remainderCall.delegate.delegate.name")));""}}{{/remainder}}
    {{#divideIntoStatement}}{{>divideinto}}{{/divideIntoStatement}}
    {{#divideIntoGivingStatement}}{{>divideinto}}{{/divideIntoGivingStatement}}
    {{#divideByGivingStatement}}{{>divideinto}}{{/divideByGivingStatement}}
{{/DIVIDE}}