{{%statementType=obj_getVar("statementType");GO_TO = statementType == "GO_TO" ? "GO_TO" : null;""}}
{{#$GO_TO}}
    {{#simple}}{{#procedureCall}}
        {{>procedureName}}{{%procedureName}}();
    {{/procedureCall}}{{/simple}}
    {{#dependingOnPhrase}}
        {{#dependingOnCall}}{{>call}}{{/dependingOnCall}}
        switch({{%operand}}{
        {{#procedureCalls}}
            case {{-index}}:{
                {{>procedureName}}{{%procedureName}}();
                break;
            }
        {{/procedureCalls}}
        }
    {{/dependingOnPhrase}}
{{/GO_TO}}