{{#literal}}{{%
        sendType=obj_getVar("literalType");
        sendValue = sendType == "NUMERIC" ?
                    obj_getVar("numericLiteral.value") :
                    "\""+obj_getVar("nonNumericLiteral")+"\"";
    ""}}{{/literal}}