{{%
    strValue=obj_getVar("nonNumericLiteral");
    numValue=obj_getVar("numericLiteral.value");
    numValue= numValue == null ? obj_getVar("integerLiteral.value") : numValue;
    operand = strValue != null ? ("\""+strValue +"\""): numValue;
""}}