{{%
    strValue=obj_getVar("nonNumericLiteral");
    numValue=obj_getVar("numericLiteral.value");
    constValue=obj_getVar("figurativeConstant.figurativeConstantType");
    numValue= numValue == null ? obj_getVar("integerLiteral.value") : numValue;
    operand = strValue != null ? ("\""+strValue +"\""): numValue;
    operand = constValue != null ? ("CobolConstant."+constValue): operand;
""}}