{{%statementType=obj_getVar("statementType");MOVE = statementType == "MOVE" ? "MOVE" : null;""}}
{{#$MOVE}}
    {{%moveType=obj_getVar("moveType");""}}
    {{#moveToStatement.moveToSendingArea.sendingAreaValueStmt}}
        {{#literal}}
            {{%
                sendType=obj_getVar("literalType");
                sendValue = sendType == "NUMERIC" ?
                            obj_getVar("numericLiteral.value") :
                            "\""+obj_getVar("nonNumericLiteral")+"\"";
            ""}}
        {{/literal}}
        {{#call}}
            {{%
                sendValue = name_toField(obj_getVar("delegate.delegate.name"));
                isTableCall = sendValue == null;
                sendValue = isTableCall ? name_toField(obj_getVar("delegate.name")) : sendValue;
                sendValue = name_delegateName(sendValue);
                valueRange = isTableCall ? obj_getVar("delegate.ctx.text"):null;
                sendValue = isTableCall ? "Util.subvalue("+sendValue+",\""+valueRange+"\")":sendValue;
            ""}}
        {{/call}}
    {{/moveToStatement.moveToSendingArea.sendingAreaValueStmt}}
    {{#moveToStatement.receivingAreaCalls}}{{%
        setName=name_toField(obj_getVar("delegate.delegate.name"));
        setName=name_delegateName(setName);
        setValue=sendValue;
    ""}}
        {{%setName}}={{%setValue}};{{/moveToStatement.receivingAreaCalls}}
{{/MOVE}}