{{%times=null;testClause==null;varying=null;""}}
{{#performType}}
    {{%performType = "yes";""}}
    {{>times}}
    {{#until}}{{>until}}{{/until}}
    {{#varying}}{{%varying="yes";""}}
        {{#varyingClause}}{{>varyingClause}}{{/varyingClause}}
        {{#testClause}}{{>testClause}}{{/testClause}}
    {{/varying}}
{{/performType}}