{{#procedureDivision}}{{%isContinue="yes";""}}
    {{^usingClause}}{{#paragraphs}}
        {{#-first}}public void procedure(){ {{/-first}}
        {{#$isContinue}}{{#name}}{{%name_toField(obj_getVar("name"))}}();{{/name}}{{/isContinue}}
    {{#statements}}{{%statementType=obj_getVar("statementType");isContinue = statementType == "STOP" ? null : isContinue;""}}{{/statements}}
    {{#-last}}
    }{{/-last}}
    {{/paragraphs}}{{/usingClause}}
{{#paragraphs}}{{>callSub.subparameters}}{{%
    func_parameters=parameters == null ? "":parameters;
    func_parametersWithoutType=parametersWithoutType == null ? "":parametersWithoutType;
""}}
{{#name}}{{%retType=null;retName=null;""}}
    {{#givingClause}}{{#givingCall}}{{%
        operand = name_toField(obj_getVar("name"));
        retName=operand;retType=name_getFieldType(operand);""}}{{/givingCall}}{{/givingClause}}
    public {{#$retType}}{{%retType}}{{/retType}}{{^$retType}}void{{/retType}} {{%name_toField(obj_getVar("name"))}}({{%func_parameters}}){
    {{#$retName}}{{%retType}} {{%retName}};{{/retName}}
    TODO parameter transfer
    {{>statements}}
    {{#$retName}}return {{%retName}}{{/retName}}
    }{{/name}}
{{/paragraphs}}
{{%needDefaultParagraph="yes";""}}{{>statements}}
{{/procedureDivision}}