{{#procedureDivision}}{{%isContinue="yes";""}}
    {{%needDefaultParagraph=null;""}}{{#statements}}{{%needDefaultParagraph="$needDefaultParagraph";""}}{{/statements}}
    {{#$needDefaultParagraph}}
        public void procedure(){
    {{/needDefaultParagraph}}
    {{>statements}}
    {{^usingClause}}{{#paragraphs}}
        {{#-first}}
            {{^$needDefaultParagraph}}
                public void procedure(){
            {{/needDefaultParagraph}}
        {{/-first}}
        {{#$isContinue}}{{#name}}{{%name_toField(obj_getVar("name"))}}();{{/name}}{{/isContinue}}
    {{#statements}}{{%statementType=obj_getVar("statementType");isContinue = statementType == "STOP" ? null : isContinue;""}}{{/statements}}
    {{#-last}}
        {{^$needDefaultParagraph}}
            }
        {{/needDefaultParagraph}}
    {{/-last}}
    {{/paragraphs}}{{/usingClause}}
{{#$needDefaultParagraph}}
    }
{{/needDefaultParagraph}}
{{#paragraphs}}{{>callSub.subparameters}}{{%
    func_parameters=parameters == null ? "":parameters;
    func_parametersWithoutType=parametersWithoutType == null ? "":parametersWithoutType;
""}}
{{#name}}{{%retType=null;retName=null;""}}
    {{#givingClause}}{{#givingCall}}{{%
        operand = name_toField(obj_getVar("name"));
        retName=operand;retType=name_getFieldType(operand);""}}{{/givingCall}}{{/givingClause}}
    public {{#$retType}}{{%retType}}{{/retType}}{{^$retType}}void{{/retType}} {{%name_toField(obj_getVar("name"))}}({{%func_parameters}}){
    {{#$retName}}{{%retType}} {{%retName}};{{/retName}}
    //TODO parameter transfer
    {{#section}}//TODO section{{/section}}
    {{>statements}}
    {{#$retName}}return {{%retName}}{{/retName}}
    }{{/name}}
{{/paragraphs}}
{{#declaratives}}//TODO declaratives{{/declaratives}}
{{#sections}}{{#-first}}//TODO sections{{/-first}}{{/sections}}
{{/procedureDivision}}