{{%
    sType=obj_getVar("pictureClause.pictureString");
    bString=str_indexOf(sType,"X(") != -1|| str_indexOf(sType,"A(") != -1;
    propType=bString ? "String":"double";
""}}
    {{#pictureClause}}
    {{%
        theFieldName=name_toField(obj_getVar("name"));
        theQlfName=name_putInnerField(theFieldName);
    ""}}
    {{%isInnerClass == "yes" ? "" :"private "}}{{%propType}} {{%theFieldName}};
    {{/pictureClause}}
