{{#statements}}
    {{>comment}}
    {{>baseActions.accept}}
    {{>baseActions.display}}
    {{>baseActions.init}}
    {{>baseActions.move}}
    {{>baseActions.add}}
    {{>baseActions.substract}}
    {{>baseActions.multiply}}
    {{>baseActions.divide}}
    {{>baseActions.compute}}
    {{>loop.perform}}
    {{>loop.goto}}
    {{>callSub.callsub}}
    {{>ifelse.ifstmt}}
    {{>string.string}}
    {{>string.unstring}}
    {{>string.inspect}}
    {{>unusedstatements}}
{{/statements}}