{{#statements}}
    {{#-first}}{{#$needDefaultParagraph}}public void procedure(){ {{/needDefaultParagraph}}{{/-first}}
    {{>accept}}
    {{>display}}
    {{>init}}
    {{>move}}
    {{>add}}
    {{>substract}}
    {{>multiply}}
    {{>divide}}
    {{>compute}}
    {{>perform}}
    {{>goto}}
    {{#-last}}{{#$needDefaultParagraph}}
    }{{/needDefaultParagraph}}{{/-last}}
{{/statements}}