{{#statements}}
    {{#-first}}{{#$needDefaultParagraph}}public void procedure(){ {{/needDefaultParagraph}}{{/-first}}
    {{>baseActions.accept}}
    {{>baseActions.display}}
    {{>baseActions.init}}
    {{>baseActions.move}}
    {{>baseActions.add}}
    {{>baseActions.substract}}
    {{>baseActions.multiply}}
    {{>baseActions.divide}}
    {{>baseActions.compute}}
    {{>loop.perform}}
    {{>loop.goto}}
    {{#-last}}{{#$needDefaultParagraph}}
    }{{/needDefaultParagraph}}{{/-last}}
{{/statements}}