{{%
    statementType=obj_getVar("statementType");
    _UNUSED_STATEMENT = null;
    _UNUSED_STATEMENT = statementType == "ALTER" ? "ALTER" : _UNUSED_STATEMENT;
    _UNUSED_STATEMENT = statementType == "CALL" ? "CALL" : _UNUSED_STATEMENT;
    _UNUSED_STATEMENT = statementType == "CONTINUE" ? "CONTINUE" : _UNUSED_STATEMENT;
    _UNUSED_STATEMENT = statementType == "DELETE" ? "DELETE" : _UNUSED_STATEMENT;
    _UNUSED_STATEMENT = statementType == "DISABLE" ? "DISABLE" : _UNUSED_STATEMENT;
    _UNUSED_STATEMENT = statementType == "ENABLE" ? "ENABLE" : _UNUSED_STATEMENT;
    _UNUSED_STATEMENT = statementType == "ENTRY" ? "ENTRY" : _UNUSED_STATEMENT;
    _UNUSED_STATEMENT = statementType == "EVALUATE" ? "EVALUATE" : _UNUSED_STATEMENT;
    _UNUSED_STATEMENT = statementType == "EXHIBIT" ? "EXHIBIT" : _UNUSED_STATEMENT;
    _UNUSED_STATEMENT = statementType == "EXECCICS" ? "EXECCICS" : _UNUSED_STATEMENT;
    _UNUSED_STATEMENT = statementType == "EXECSQL" ? "EXECSQL" : _UNUSED_STATEMENT;
    _UNUSED_STATEMENT = statementType == "EXECSQLIMS" ? "EXECSQLIMS" : _UNUSED_STATEMENT;
    _UNUSED_STATEMENT = statementType == "EXIT" ? "EXIT" : _UNUSED_STATEMENT;
    _UNUSED_STATEMENT = statementType == "GENERATE" ? "GENERATE" : _UNUSED_STATEMENT;
    _UNUSED_STATEMENT = statementType == "GOBACK" ? "GOBACK" : _UNUSED_STATEMENT;
    _UNUSED_STATEMENT = statementType == "INITIATE" ? "INITIATE" : _UNUSED_STATEMENT;
    _UNUSED_STATEMENT = statementType == "MERGE" ? "MERGE" : _UNUSED_STATEMENT;
    _UNUSED_STATEMENT = statementType == "NEXTSENTENCE" ? "NEXTSENTENCE" : _UNUSED_STATEMENT;
    _UNUSED_STATEMENT = statementType == "OPEN" ? "OPEN" : _UNUSED_STATEMENT;
    _UNUSED_STATEMENT = statementType == "PURGE" ? "PURGE" : _UNUSED_STATEMENT;
    _UNUSED_STATEMENT = statementType == "READ" ? "READ" : _UNUSED_STATEMENT;
    _UNUSED_STATEMENT = statementType == "RECEIVE" ? "RECEIVE" : _UNUSED_STATEMENT;
    _UNUSED_STATEMENT = statementType == "RELEASE" ? "RELEASE" : _UNUSED_STATEMENT;
    _UNUSED_STATEMENT = statementType == "RETURN" ? "RETURN" : _UNUSED_STATEMENT;
    _UNUSED_STATEMENT = statementType == "REWRITE" ? "REWRITE" : _UNUSED_STATEMENT;
    _UNUSED_STATEMENT = statementType == "SEARCH" ? "SEARCH" : _UNUSED_STATEMENT;
    _UNUSED_STATEMENT = statementType == "SEND" ? "SEND" : _UNUSED_STATEMENT;
    _UNUSED_STATEMENT = statementType == "SET" ? "SET" : _UNUSED_STATEMENT;
    _UNUSED_STATEMENT = statementType == "SORT" ? "SORT" : _UNUSED_STATEMENT;
    _UNUSED_STATEMENT = statementType == "START" ? "START" : _UNUSED_STATEMENT;
    _UNUSED_STATEMENT = statementType == "TERMINATE" ? "TERMINATE" : _UNUSED_STATEMENT;
    _UNUSED_STATEMENT = statementType == "WRITE" ? "WRITE" : _UNUSED_STATEMENT;
""}}
{{#$_UNUSED_STATEMENT}}//TODO {{%_UNUSED_STATEMENT}}{{/_UNUSED_STATEMENT}}
