{{#simpleCondition}}
    {{%curCondition = obj_getCurVar("condition");""}}
    {{#$curCondition}}{{>ifelse.condition}}{{/curCondition}}
    {{#classCondition}}{{%condition="true";""}}//FIXME classCondition default is  true{{/classCondition}}
    {{#conditionNameReference}}
        {{#conditionCall}}
            {{%
                cobolName=obj_getVar("name");
                condition=expr_conditionReference(cobolName);
            ""}}
        {{/conditionCall}}
    {{/conditionNameReference}}
    {{#relationCondition}}
        {{#signCondition}}//TODO signCondition{{/signCondition}}
        {{#arithmeticComparison}}
            {{#arithmeticExpressionLeft}}{{>arithmetic[arithmeticExpression]}}{{%left=arithmeticExpression;""}}{{/arithmeticExpressionLeft}}
            {{#arithmeticExpressionRight}}{{>arithmetic[arithmeticExpression]}}{{%right=arithmeticExpression;""}}{{/arithmeticExpressionRight}}
            {{>ifelse.reloper}}
            {{%condition=relOperStr;""}}
        {{/arithmeticComparison}}
        {{#combinedComparison}}
            {{%condition=null;""}}
            {{#arithmeticExpression}}{{>arithmetic}}{{%left=arithmeticExpression;""}}{{/arithmeticExpression}}
            {{#operator}}{{%relationalOperatorType=obj_getVar("relationalOperatorType");""}}{{/operator}}
            {{#combinedCondition}}
                {{%combinedConditionType=obj_getVar("combinedConditionType") == "AND" ? " && " :" || ";""}}
                {{#arithmeticExpressions}}
                    {{>arithmetic}}
                    {{%
                        right=arithmeticExpression;
                        relOperStr=rel_getOper(relationalOperatorType,left,right);
                        condition = condition==null ? relOperStr: condition +combinedConditionType+relOperStr;
                    ""}}
                {{/arithmeticExpressions}}
            {{/combinedCondition}}
            {{%condition="("+condition+")";""}}
        {{/combinedComparison}}
    {{/relationCondition}}
{{/simpleCondition}}
{{>ifelse.not}}