{{%
    dimString = null;
    callType = obj_getVar("delegate.callType");
    isTable = callType == "TABLE_CALL";
    isFunction = callType == "FUNCTION_CALL";
    delegate= isTable? name_toField(obj_getVar("delegate.name")) :
        name_toField(obj_getVar("delegate.delegate.name"));
    operand = name_delegateName(delegate);
    operand= (callType != "DATA_DESCRIPTION_ENTRY_CALL" && !isTable) ? "//TODO " + obj_getVar("delegate.ctx.text"):
        operand;
""}}{{#delegate}}{{#subscripts}}{{%
    temp = obj_getVar("ctx.text");dimString = dimString == null ? temp:dimString + temp;
""}}{{^-last}}{{%
    dimString = dimString + ",";""}}{{/-last}}{{/subscripts}}{{#$dimString}}{{%
    operand = str_indexOf(dimString,":") !=-1 ? "Util.subvalue("+operand+",\""+dimString+"\")" : name_delegateName1(operand, dimString);
""}}{{/dimString}}{{/delegate}}