{{%statementType=obj_getVar("statementType");DIVIDE = statementType == "DIVIDE" ? "DIVIDE" : null;""}}
{{%curObj=obj_getCurObj();""}}
{{#$DIVIDE}}{{#$curObj}}
    {{%divideOpand=null;remainder=null;""}}
    {{#operandValueStmt}}
        {{#literal}}{{>literal}}{{/literal}}
        {{#call}}{{>call}}{{/call}}
        {{%divideOpand = operand;""}}
    {{/operandValueStmt}}
    {{#remainder}}
        {{#remainderCall}}
            {{>call}}
            {{%remainder=operand;""}}
        {{/remainderCall}}
    {{/remainder}}
    {{#divideIntoStatement}}
        {{>baseActions.divideinto}}
    {{/divideIntoStatement}}
    {{#divideIntoGivingStatement}}
        {{>baseActions.divideinto}}
    {{/divideIntoGivingStatement}}
    {{#divideByGivingStatement}}
        {{>baseActions.divideinto}}
    {{/divideByGivingStatement}}
    {{#notOnSizeErrorPhrase}}//TODO DIVIDE notOnSizeErrorPhrase{{/notOnSizeErrorPhrase}}
    {{#onSizeErrorPhrase}}//TODO DIVIDE onSizeErrorPhrase{{/onSizeErrorPhrase}}
{{/curObj}}{{/DIVIDE}}