{{%statementType=obj_getVar("statementType");INITIALIZE = statementType == "INITIALIZE" ? "INITIALIZE" : null;""}}
{{%curObj=obj_getCurObj();""}}
{{#$INITIALIZE}}{{#$curObj}}
    {{%byValue=null;""}}
    {{#replacingPhrase.bys}}
        {{#valueStmt}}{{>call}}{{#literal}}{{>literal}}{{/literal}}{{%byValue=operand;""}}{{/valueStmt}}
    {{/replacingPhrase.bys}}
    {{#dataItemCalls}}
    {{>call}}{{%
        setName=operand;
        pictureString = obj_getVar("delegate.delegate.dataDescriptionEntry.pictureClause.pictureString");
        pictureString = pictureString == null ? null : "\""+pictureString + "\"";
        type = name_getFullFieldType(setName);
        setValue=byValue == null ? "("+type+")Util.init("+type+".class,"+pictureString + ");":byValue+";" ;
    ""}}
        {{%setName}}={{%setValue}}{{/dataItemCalls}}
{{/curObj}}{{/INITIALIZE}}