{{%statementType=obj_getVar("statementType");MOVE = statementType == "MOVE" ? "MOVE" : null;""}}
{{%curObj=obj_getCurObj();""}}
{{#$MOVE}}{{#$curObj}}
    {{%
        moveType=obj_getVar("moveType");
        IsCorrMove = moveType == "MOVE_CORRESPONDING" ? "IsCorrMove":null;
    ""}}
    {{#moveCorrespondingToStatement}}
        {{#moveToCorrespondingSendingArea.sendingAreaCall}}
            {{>call[operand]}}
            {{%sendValue=operand;""}}
        {{/moveToCorrespondingSendingArea.sendingAreaCall}}
        {{>baseActions.moveReceiving}}
    {{/moveCorrespondingToStatement}}
    {{#moveToStatement}}
        {{#moveToSendingArea.sendingAreaValueStmt}}
            {{#literal}}{{>literal[operand]}}{{/literal}}
            {{#call}}{{>call[operand]}}{{/call}}
            {{%sendValue=operand;""}}
        {{/moveToSendingArea.sendingAreaValueStmt}}
        {{>baseActions.moveReceiving}}
    {{/moveToStatement}}
{{/curObj}}{{/MOVE}}