{{#receivingAreaCalls}}
    {{%isReturnCode=null;""}}
    {{>call[operand,isReturnCode]}}
    {{#$isReturnCode}}
        {{%
            setValue="ServiceManager.setReturnCode(this,"+sendValue+")");
            isUseCopy = "isUseCopy";
            leftIsBase = null;
        ""}}
    {{/isReturnCode}}
    {{^$isReturnCode}}
        {{%
            setName=operand;
            setValue=value_fix(setName,sendValue);
            isUseCopy = str_indexOf(setValue,"Util.copy") != -1 ? "isUseCopy": null;
        ""}}
    {{/isReturnCode}}
    {{#$isUseCopy}}
        {{#$leftIsBase}}
            {{%setName}}={{%setValue}};
        {{/leftIsBase}}
        {{^$leftIsBase}}
            {{%setValue}};
        {{/leftIsBase}}
    {{/isUseCopy}}
    {{^$isUseCopy}}
        {{%shouldFixFullArraySet = value_fixFullArraySet(setName,setValue);""}}
        {{#shouldFixFullArraySet}}
            Util.setFullArray({{%setName}},{{%setValue}});
        {{/shouldFixFullArraySet}}
        {{^shouldFixFullArraySet}}
            {{#$leftIsBase}}
                {{%setName}}={{%setValue}};
            {{/leftIsBase}}
        {{/shouldFixFullArraySet}}
    {{/isUseCopy}}
{{/receivingAreaCalls}}
