{{%statementType=obj_getVar("statementType");MOVE = statementType == "MOVE" ? "MOVE" : null;""}}
{{%curObj=obj_getCurObj();""}}
{{#$MOVE}}{{#$curObj}}
    {{#moveToStatement.moveToSendingArea.sendingAreaValueStmt}}
        {{#literal}}{{>literal}}{{/literal}}
        {{#call}}{{>call}}{{/call}}
        {{%sendValue=operand;""}}
    {{/moveToStatement.moveToSendingArea.sendingAreaValueStmt}}
    {{#moveToStatement.receivingAreaCalls}}
        {{>call}}
        {{%
            setName=operand;
            setValue=value_fix(setName,sendValue);
            isUseCopy = str_indexOf(setValue,"Util.copyObject(") != -1 ? "isUseCopy": null;
        ""}}
        {{#$isUseCopy}}
            {{%setValue}};
        {{/isUseCopy}}
        {{^$isUseCopy}}
            {{%setName}}={{%setValue}};
        {{/isUseCopy}}

    {{/moveToStatement.receivingAreaCalls}}
    {{#moveCorrespondingToStatement}}//TODO moveCorrespondingToStatement{{/moveCorrespondingToStatement}}
{{/curObj}}{{/MOVE}}