{{%statementType=obj_getVar("statementType");MOVE = statementType == "MOVE" ? "MOVE" : null;""}}
{{%curObj=obj_getCurObj();""}}
{{#$MOVE}}{{#$curObj}}
    {{#moveToStatement.moveToSendingArea.sendingAreaValueStmt}}
        {{#literal}}{{>literal}}{{/literal}}
        {{#call}}{{>call}}{{/call}}
        {{%sendValue=operand;""}}
    {{/moveToStatement.moveToSendingArea.sendingAreaValueStmt}}
    {{#moveToStatement.receivingAreaCalls}}
        {{>call}}
        {{%
            setName=operand;
            setValue=value_fix(setName,sendValue);
        ""}}
        {{%setName}}={{%setValue}};
    {{/moveToStatement.receivingAreaCalls}}
    {{#moveCorrespondingToStatement}}//TODO moveCorrespondingToStatement{{/moveCorrespondingToStatement}}
{{/curObj}}{{/MOVE}}