{{%statementType=obj_getVar("statementType");SET = statementType == "SET" ? "SET" : null;""}}
{{%curObj=obj_getCurObj();""}}
{{#$SET}}{{#$curObj}}
    {{%setType=obj_getVar("setType");""}}
    {{#setBy}}//TODO setBy;{{/setBy}}
    {{#setTos}}
        {{%tosList=obj_newList();tosIsAddr=obj_newList();index=0;""}}
        {{#tos}}{{#toCall}}
            {{>call}}
            {{%
                obj_addToList(tosList,operand);
                obj_addToList(tosIsAddr,isAddressOf=="isAddressOf");
            ""}}
        {{/toCall}}{{/tos}}
        {{#values}}
            {{%valueType=obj_getVar("valueType");""}}
            {{#valueStmt}}
                {{#literal}}{{>literal}}{{/literal}}
                {{#call}}{{>call}}{{/call}}
                {{%
                    targetVar = obj_getFromList(tosList,index);
                    operandType=obj_getFromList(tosIsAddr,index) ? expr_changeAddressType(targetVar,operand) : null;
                operand = operandType == null ? value_fix(targetVar+"",operand): operand;
                ""}}
                {{%targetVar}}={{%operand}};
                {{%index = index +1;""}}
            {{/valueStmt}}
        {{/values}}
    {{/setTos}}
{{/curObj}}{{/SET}}