{{%substractValue = "";""}}
{{#subtrahends}}
    {{#subtrahendValueStmt}}
        {{#literal}}
            {{>literal}}
            {{%substractValue = operand+substractValue;""}}
        {{/literal}}
        {{#call}}
            {{>call}}
            {{%substractValue = operand+substractValue;""}}
        {{/call}}
        {{%substractValue = "-" + substractValue;""}}
    {{/subtrahendValueStmt}}
{{/subtrahends}}
{{#minuends}}
    {{#minuendCall}}
        {{>call}}
        {{%rounded= obj_getVar("rounded")? "rounded":null;""}}
        {{#$rounded}}//TODO SUBSTRACT rounded{{/rounded}}
    {{/minuendCall}}
    {{%setName=operand;setValue=operand+substractValue;""}}
    {{%setName}}={{%setValue}};
{{/minuends}}
{{#minuend}}{{#minuendValueStmt.call}}{{>call}}{{/minuendValueStmt.call}}{{%setName=operand;setValue=substractValue;""}}{{/minuend}}
{{#givings}}{{#givingCall}}{{>call}}{{/givingCall}}{{%lastValue=setName;setName=operand;""}}
        {{%setName}}={{%setName}}-{{%lastValue}}{{%setValue}};
{{/givings}}

