{{%valueClause=obj_getCurVar("valueClause");""}}
{{#pictureClause}}{{>model.picture}}
    {{%isInnerClass == "yes" ? "" :"private "}}{{%propType}}{{%
    ""}}{{#$dimStr}}[]{{/dimStr}} {{%theFieldName}}{{^$valueClause}}{{%
    ""}}{{#$dimStr}} = new {{%propType}}[{{%dimStr}}]{{/dimStr}};{{/valueClause}}{{/pictureClause}}{{#valueClause}}{{%
    ""}}{{#valueIntervals}}{{#fromValueStmt}}{{%
    ""}}{{>call}}{{#literal}}{{>literal}}{{/literal}} = {{#$dimStr}}{{%array_initString(dimStr,operand)}}{{/dimStr}}{{%
    ""}}{{^$dimStr}}{{%operand}}{{/dimStr}}{{/fromValueStmt}}{{/valueIntervals}};{{/valueClause}}{{#pictureClause}}{{/pictureClause}}
