    {{^pictureClause}}{{>model.nopicture}}
    {{%
        ignoreProp = innerClsLevel == 0 ? "ignoreProp" : null;
        modifier = isInnerClass != "yes" && IsConstantCopybook == null ? "public ":"";
        //modifier = modifier +(IsConstantCopybook != null ? "static final " :"");
        modifier
    }}{{^$ignoreProp}}{{^$IsConstantCopybook}}{{%
    ""}}{{%innerCls)}}{{#$dimStr}}[]{{/dimStr}} {{%filedName}}{{#$dimStr}} = new {{%innerCls}}[{{%dimStr}}]{{/dimStr}};
    {{/IsConstantCopybook}}{{/ignoreProp}}
    {{%
        dimStr = null;
        clsName=innerCls;
        isInnerClass==null && IsConstantCopybook == null ? must_saveBuff():null;
    ""}}
    {{*dataDescriptionEntries}}
    {{%
        name_exitClass();
        clsContent = isInnerClass==null && IsConstantCopybook == null? must_popBuff():null;
        isInnerClass== null && IsConstantCopybook == null?obj_addToMap(innerMap,clsName, clsContent):null;
    ""}}
    {{/pictureClause}}