{{#alignedClause}}//TODO alignedClause {{%obj_getVar("name")}} alignedClause{{/alignedClause}}
{{#blankWhenZeroClause}}//TODO blankWhenZeroClause {{%obj_getVar("name")}} blankWhenZeroClause{{/blankWhenZeroClause}}
{{#commonOwnLocalClause}}//TODO commonOwnLocalClause {{%obj_getVar("name")}} commonOwnLocalClause{{/commonOwnLocalClause}}
{{#externalClause}}//TODO externalClause {{%obj_getVar("name")}} externalClause{{/externalClause}}
{{#filler}}//TODO filler {{%obj_getVar("name")}} filler{{/filler}}
{{#globalClause}}//TODO globalClause {{%obj_getVar("name")}} globalClause{{/globalClause}}
{{#integerStringClause}}//TODO integerStringClause {{%obj_getVar("name")}} integerStringClause{{/integerStringClause}}
{{#justifiedClause}}//TODO justifiedClause {{%obj_getVar("name")}} justifiedClause{{/justifiedClause}}
{{#receivedByClause}}//TODO receivedByClause {{%obj_getVar("name")}} receivedByClause{{/receivedByClause}}
{{#recordAreaClause}}//TODO recordAreaClause {{%obj_getVar("name")}} recordAreaClause{{/recordAreaClause}}
{{#redefinesClause}}//TODO redefinesClause {{%obj_getVar("name")}} redefinesClause{{/redefinesClause}}
{{#signClause}}//TODO signClause {{%obj_getVar("name")}} signClause{{/signClause}}
{{#synchronizedClause}}//TODO synchronizedClause {{%obj_getVar("name")}} synchronizedClause{{/synchronizedClause}}
{{#threadLocalClause}}//TODO threadLocalClause {{%obj_getVar("name")}} threadLocalClause{{/threadLocalClause}}
{{#typeClause}}//TODO typeClause {{%obj_getVar("name")}} typeClause{{/typeClause}}
{{#typeDefClause}}//TODO typeDefClause {{%obj_getVar("name")}} typeDefClause{{/typeDefClause}}
{{#usageClause}}//TODO usageClause {{%obj_getVar("name")}} usageClause{{/usageClause}}
{{!--#usingClause}}//TODO usingClause {{%obj_getVar("name")}} usingClause{{/usingClause--}}
{{#withLowerBoundsClause}}//TODO withLowerBoundsClause {{%obj_getVar("name")}} withLowerBoundsClause{{/withLowerBoundsClause}}
{{!--#levelNumber}}//TODO levelNumber {{%obj_getVar("name")}} levelNumber{{/levelNumber--}}