{{%isSubCopybook = null;childNum = 0;isSubExtCopybook=null;isSubPureCopybook= null;""}}
{{#dataDescriptionEntries}}
    {{#-first}}
        {{%isSubCopybook=obj_getVar("levelNumber") == 75 ? "isSubCopybook" :null;""}}
        {{^$IsTestCopy75}}
            {{%
                subCopyOrgName = obj_getVar("name");
                subCopyBookClsName = name_toClass(subCopyOrgName);
                subCopyBookFieldName = name_toField(subCopyOrgName);
                isSubCopybook != null ? setQlfNameToCopyFieldName(name_qlfName(fieldName, null),subCopyBookFieldName):null;
                isSubCopybook != null ?  setInnerClsNameToCopyName(innerCls,subCopyBookClsName):null;
                //isSubCopybook != null ?  copybook(fieldName,subCopyBookFieldName):null;
            ""}}
        {{/IsTestCopy75}}
    {{/-first}}
    {{#$isSubCopybook}}
        {{%
        childNum = childNum+1;
        ""}}
    {{/isSubCopybook}}
{{/dataDescriptionEntries}}
{{#$isSubCopybook}}
    {{%
    isSubExtCopybook = childNum > 1 ? "isSubExtCopybook" : null;
    isSubPureCopybook = isSubExtCopybook == null ? "isSubPureCopybook": null;
    ""}}
{{/isSubCopybook}}