{{!--IsConstantCopybook,isInnerClas,innerClsLevel,importsMap--}}
{{%IsFiller=null;""}}
{{#filler}} {{%IsFiller="IsFiller";""}}{{/filler}}
{{^pictureClause}}
    {{>model.testCopy75}}
    {{%
        orgName = IsFiller != null ? "FILLER" : obj_getVar("name");
        clsName=name_toClass(orgName);
    clsName = dclCopybookName == null ? clsName:dclCopybookName+clsName;
        IsConstantCopybook = IsInCopyBook != null && str_indexOf(clsName,"Const") != -1 ? "IsConstantCopybook": IsConstantCopybook;
        IsConstantCopybook != null? name_enterClass(clsName) : name_enterClass(name_toField(orgName));
    ""}}
    {{%childrenCount=null;innerCls=clsName;fieldName=name_toField(orgName);""}}
    {{#dataDescriptionEntries}}
        {{%IsSubExtCopybookFirst=null;""}}
        {{#-first}}
            {{%isConstInnerCls = innerClsLevel >=1 && IsConstantCopybook != null? "isConstInnerCls":null;""}}
            {{^$isSubPureCopybook}}
                {{^$isInnerClass}}
                    {{^$isConstInnerCls}}
                        {{%packageName = model_getPackage(clsName,"true");""}}
                        package {{%packageName}};
                        import free.cobol2java.java.*;
                        //#importsMark#
                        {{%
                            imports=obj_newList();
                            obj_addToMap(importsMap,clsName,imports);
                            //clsName=="Pksaacn1"?println("add import list:" +clsName):"";
                        ""}}
                        public
                    {{/isConstInnerCls}}
                {{/isInnerClass}}
                {{%isConstInnerCls != null? "public static ":""}}
                {{%innerClsLevel = innerClsLevel == null ? null: innerClsLevel+1;fillerCount = 0;""}}
                class {{%clsName}}{{#$isSubExtCopybook}}_Ext extends {{%clsName}}{{/isSubExtCopybook}} {
            {{/isSubPureCopybook}}
            {{%childrenCount=1;""}}
            {{%IsSubExtCopybookFirst = isSubExtCopybook != null ? "IsSubExtCopybookFirst":null;""}}
        {{/-first}}
        {{^$IsSubExtCopybookFirst}}
            {{>model.redefine[redefinedName]}}
            {{%annotationNeed = "annotationNeed";""}}
            {{>dimstr(annotationNeed)[dimStr,dimension]}}
            {{>comment}}
            {{%dimension != null ? dim_push(dimension) : dim_push(0);""}}
            {{%var_push(isSubPureCopybook);""}}
            {{%var_push(clsName);""}}
            {{>model.properties}}
            {{%curObj=obj_getCurObj();""}}
            {{#$childrenCount}}{{#$curObj}}
                {{>model.propertiesInnerClass}}
            {{/curObj}}{{/childrenCount}}
            {{%clsName=var_pop();""}}
            {{%isSubPureCopybook=var_pop();""}}
            {{%dim_pop();""}}
        {{/IsSubExtCopybookFirst}}
        {{#-last}}
            {{%innerClsLevel = innerClsLevel == null ? null: innerClsLevel - 1;""}}
            {{^$isSubPureCopybook}}
                }//End model;
            {{/isSubPureCopybook}}
        {{/-last}}
    {{/dataDescriptionEntries}}
    {{%
        clsOrFieldName=name_exitClass();
        //clsName=="Pksaacn1"?println("end class:" +clsName+", imports:"+obj_getFromMap(importsMap,clsName)):"";
    ""}}
{{/pictureClause}}
