{{%IsFiller=null;""}}
{{#filler}} {{%IsFiller="IsFiller";""}}{{/filler}}
{{!--^$IsFiller--}}
    {{^pictureClause}}
    {{%
        orgName = IsFiller != null ? "FILLER" : obj_getVar("name");
        clsName=name_toClass(orgName);
        //println(obj_getVar("levelNumber")+"****model enter class:" + clsName);

        IsConstantCopybook != null? name_enterClass(clsName) : name_enterClass(name_toField(orgName));
        //println("=====in model.mustache class is: "+orgName);
    ""}}
    {{%childrenCount=null;innerCls=clsName;fieldName=name_toField(orgName);""}}
    {{%isSubCopybook = null;""}}
    {{>model.testCopy75}}
    {{#dataDescriptionEntries}}
        {{#-first}}
            {{%isConstInnerCls = innerClsLevel >=1 && IsConstantCopybook != null? "isConstInnerCls":null;""}}
            {{^$isSubCopybook}}
                {{^$isInnerClass}}
                    {{^$isConstInnerCls}}
                        {{%packageName = model_getPackage(clsName,"true");""}}
                        package {{%packageName}};
                        import free.cobol2java.java.CobolConstant;
                        import free.cobol2java.java.FieldInfo;
                        //#importsMark#
                        {{%
                            imports=obj_newList();
                            obj_addToMap(importsMap,clsName,imports);
                            //clsName=="Pksaacn1"?println("add import list:" +clsName):"";
                        ""}}
                        public
                    {{/isConstInnerCls}}
                {{/isInnerClass}}
                {{%isConstInnerCls != null? "public static ":""}}
                {{%innerClsLevel = innerClsLevel == null ? null: innerClsLevel+1;fillerCount = 0;""}}
                class {{%clsName}} {
            {{/isSubCopybook}}
            {{%childrenCount=1;""}}
        {{/-first}}
        {{>model.redefine[redefinedName]}}
        {{%annotationNeed = "annotationNeed";""}}
        {{>dimstr(annotationNeed)[dimStr,dimension]}}
        {{>comment}}
        {{%dimension != null ? dim_push(dimension) : dim_push(0);""}}
        {{%var_push(isSubCopybook);""}}
        {{%var_push(clsName);""}}
        {{>model.properties}}
        {{%curObj=obj_getCurObj();""}}
        {{#$childrenCount}}{{#$curObj}}
            {{>model.propertiesInnerClass}}
        {{/curObj}}{{/childrenCount}}
        {{%clsName=var_pop();""}}
        {{%isSubCopybook=var_pop();""}}
        {{%dim_pop();""}}
        {{#-last}}
            {{%innerClsLevel = innerClsLevel == null ? null: innerClsLevel - 1;""}}
            {{^$isSubCopybook}}
                }//End model;
            {{/isSubCopybook}}
        {{/-last}}
    {{/dataDescriptionEntries}}
    {{%
        clsOrFieldName=name_exitClass();
        //clsName=="Pksaacn1"?println("end class:" +clsName+", imports:"+obj_getFromMap(importsMap,clsName)):"";
    ""}}
    {{/pictureClause}}
{{!--/IsFiller--}}
