{{%
    innerCls = name_toClass(obj_getVar("name"));
    fieldName = name_toField(obj_getVar("name"));
    theQlfName=name_putInnerField1(fieldName, isSubCopybook);
    dim_putFieldDim(fieldName,dimension == null? 0:dimension);
    name_setFieldType(theQlfName == null ? fieldName : theQlfName,innerCls);
""}}