{{%
    orgName = IsFiller != null ? "FILLER" : obj_getVar("name");
    innerCls = name_toClass(orgName);
    fieldName = name_toField(orgName);
    theQlfName=name_putInnerField1(fieldName, isSubCopybook);
    dim_putFieldDim(fieldName,dimension == null? 0:dimension);
    name_setFieldType(theQlfName == null ? fieldName : theQlfName,innerCls);
""}}