{{%
    sType=obj_getVar("pictureString");
    propType=type_getType(sType);
    theFieldName=name_toField(obj_getVar("name"));
    theQlfName=name_putInnerField(theFieldName);
    dim_putFieldDim(theFieldName,dimension == null? 0:dimension);
    name_setFieldType(theQlfName == null ? theFieldName : theQlfName,propType);
""}}