{{%IsPointer= null;usageClauseType=null;""}}
{{#usageClause}}
    {{%
        usageClauseType=obj_getVar("usageClauseType");
        IsPointer=usageClauseType=="POINTER"?"IsPointer":null;
    ""}}
{{/usageClause}}