{{>model.pointer}}
{{%curObj=obj_getCurObj();""}}
{{^$IsPointer}}{{#$curObj}}
    {{^pictureClause}}
        {{%isSubCopybook=obj_getVar("levelNumber") == 75 ? "isSubCopybook" :null;""}}
        {{>model.nopicture}}
        {{>model.copy75}}
        {{%
            innerCls = isSubCopybook != null ? subCopyBookClsName : innerCls;
            orgCls = innerCls;
            ignoreProp = innerClsLevel == 0 ? "ignoreProp" : null;
            modifier = isInnerClass != "isInnerClass" && IsConstantCopybook == null ? "public ":"";
        ""}}
        {{^$ignoreProp}}
            {{^$IsConstantCopybook}}
                {{%
                    isDupCls = isSubCopybook == null && obj_getFromMap(innerMap,innerCls) != null;
                    innerCls = isDupCls ? innerCls + "1":innerCls;
                    fieldName = isDupCls && IsFiller != null ? fieldName + "1":fieldName;
                    realInnerClsName = isSubExtCopybook == null ? innerCls : name_toClass(orgName)+"_Ext";
                //DEBUG=isSubExtCopybook + ":"+innerCls;debug();
                ""}}
                {{%modifier}} {{%realInnerClsName)}}{{#$dimStr}}[]{{/dimStr}} {{%fieldName}}{{#$dimStr}} = new {{%innerCls}}[{{%dimStr}}]{{/dimStr}};
            {{/IsConstantCopybook}}
            {{%
                packName = model_getPackage(innerCls,"false");
                curImports = obj_getFromMap(importsMap,clsName);
                imports = curImports == null ? imports : curImports;
                imports != null && packName !=null ?obj_addToList(imports,packName+"."+innerCls):"";
            ""}}
        {{/ignoreProp}}
        {{%
            dimStr = null;
            clsName=innerCls;
            isInnerClass==null && IsConstantCopybook == null ? must_saveBuff():null;
        ""}}


            {{>model.model(IsConstantCopybook,isInnerClass,innerClsLevel,importsMap,innerMap)}}

        {{%
            //name_exitClass();
            clsContent = isInnerClass==null && IsConstantCopybook == null? must_popBuff():null;
            clsContent = orgCls == clsName ? clsContent : str_replace(clsContent+"", "class " +orgCls , "class " + clsName);
            isInnerClass== null && IsConstantCopybook == null?obj_addToMap(innerMap,clsName,clsContent):null;
            //sInnerClass== null && IsConstantCopybook == null?println("========addto innermap:" +clsName):null;
        ""}}
    {{/pictureClause}}
{{/curObj}}{{/IsPointer}}
{{#$IsPointer}}
    {{>model.nopicture}}
    {{%isInnerClass==null ? "public":""}} Object{{#$dimStr}}[]{{/dimStr}} {{%fieldName}};
{{/IsPointer}}
