{{%statementType=obj_getVar("statementType");EXEC_SQL = statementType == "EXEC_SQL" ? "EXEC_SQL" : null;""}}
{{%curObj=obj_getCurObj();""}}
{{#$EXEC_SQL}}{{#$curObj}}
    {{>sql.cobolsql}}
{{/curObj}}{{/EXEC_SQL}}