{{#arithmeticExpression}}
    {{>arithmetic}}
    {{%operand=arithmeticExpression;""}}
{{/arithmeticExpression}}
{{#call}}
    {{>call}}
{{/call}}
{{#literal}}
    {{>literal}}
{{/literal}}
{{%argument=operand;""}}