{{%
    c_name = obj_getVar("name");
    //for constant set qlfName and clear c_name
    isConstant = name_isConst(c_name) ? "isConstant":null;
    qlfName = null;
""}}
{{#$isConstant}}
    {{%qlfName="CobolConstant."+c_name;""}}
{{/isConstant}}
{{#$c_name}}{{^$isConstant}}
    {{%
        javaName = name_toField(c_name);
        qlfName = IsOF ? javaName : name_qlfName(javaName,ofCopies);
    ""}}
{{/isConstant}}{{/c_name}}