{{%qlfNameCall=null;ofCopies = null;""}}
{{#delegate}}
    {{#delegate}}
        {{%hasQualifiedInData = null;""}}
        {{#qualifiedInData}}
            {{#-first}}
                {{%hasQualifiedInData = "hasQualifiedInData";""}}
            {{/-first}}
            {{#$hasQualifiedInData}}
                {{%
                    IsOF = obj_getVar("type") == "OF";
                ""}}
            {{/hasQualifiedInData}}
            {{#call}}{{>call(IsOF)[operand,tableCall,subscripts,dimString]}}{{/call}}
            {{#$hasQualifiedInData}}
                {{%
                    ofCopy = IsOF ? operand:null;
                    ofCopies = ofCopies == null ? ofCopy :
                        (ofCopy == null ? ofCopies : ofCopies+"." +ofCopy);
                //println(IsOF+"******ofCopy:"+ofCopy);
                ""}}
            {{/hasQualifiedInData}}
        {{/qualifiedInData}}
        {{#$hasQualifiedInData}}
            {{%
                //println(obj_getVar("ctx.text")+"======ofCopies:"+ofCopies);
                IsOF = null;
            ""}}
        {{/hasQualifiedInData}}
        {{>call.baseQlfNameCall}}
    {{/delegate}}
    {{^$qlfNameCall}}
        {{>call.baseQlfNameCall}}
    {{/qlfNameCall}}
    {{#$ofCopies}}
        {{#$tableCall}}
            {{#$subscripts}}
                {{%qlfNameCall=name_qlfNameWithDim(qlfNameCall,subscripts);""}}
            {{/subscripts}}
            {{#$dimString}}
                {{%qlfNameCall=name_qlfNameWithDim(qlfNameCall,dimString);""}}
            {{/dimString}}
        {{/tableCall}}
        {{%ofCopies=null;""}}
    {{/ofCopies}}
{{/delegate}}