{{%tableCall=null;""}}
{{#delegate}}
    {{%
        subscripts=null;
    ""}}
    {{#subscripts}}
        {{#subscriptValueStmt}}
            {{%
                var_push(IsOF);
                IsOF = null;
            ""}}
            {{>call.subscript}}
            {{%
                IsOF  = var_pop();
            ""}}
            {{%
                subscripts = subscripts == null?subscript:subscripts+","+subscript;
            ""}}
        {{/subscriptValueStmt}}
    {{/subscripts}}
    {{#referenceModifier}}
        {{#characterPosition}}
            {{>arithmetic}}
            {{%c_characterPosition=arithmeticExpression;""}}
        {{/characterPosition}}
        {{#length}}
            {{>arithmetic}}
            {{%c_length=arithmeticExpression;""}}
        {{/length}}
    {{/referenceModifier}}
    {{%
        callType = obj_getVar("callType");
        isTable = callType == "TABLE_CALL" ? "isTable":null;
    ""}}
    {{#$isTable}}
        {{>call.qlfName}}
        {{%
            //FIXME the bug of (1,1)
            dimString = subscripts == null ?(c_characterPosition+":"+c_length):subscripts+"";
            tableCall=IsOF ? qlfName : name_qlfNameWithDim(qlfName, dimString);
        ""}}
    {{/isTable}}
{{/delegate}}