{{%tableCall=null;""}}
{{#delegate}}
    {{%
        subscripts=null;
    ""}}
    {{#subscripts}}
        {{#subscriptValueStmt}}
            {{>call.subscript[subscript]}}
            {{%
                subscripts = subscripts == null?subscript+"":subscripts+","+subscript;
            ""}}
        {{/subscriptValueStmt}}
    {{/subscripts}}
    {{#referenceModifier}}
        {{#characterPosition}}
            {{>arithmetic[arithmeticExpression]}}
            {{%c_characterPosition=arithmeticExpression;""}}
        {{/characterPosition}}
        {{#length}}
            {{>arithmetic[arithmeticExpression]}}
            {{%c_length=arithmeticExpression;""}}
        {{/length}}
    {{/referenceModifier}}
    {{%
        callType = obj_getVar("callType");
        isTable = callType == "TABLE_CALL" ? "isTable":null;
    ""}}
    {{#$isTable}}{{#$obj_currentObj}}
        {{>call.qlfName(IsOF)[qlfName]}}
        {{%InOf = IsOF ? "InOf" : null;""}}
        {{#$InOf}}
            {{%tableCall = qlfName;""}}
        {{/InOf}}
        {{^$InOf}}
            {{#$subscripts}}
                {{%tableCall=name_qlfNameWithDim(qlfName, subscripts);""}}
            {{/subscripts}}
            {{#$c_characterPosition}}
                {{%
                    dimString = c_characterPosition+":"+c_length;
                    tableCall=name_qlfNameWithDim(tableCall, dimString);
                ""}}
            {{/c_characterPosition}}
        {{/InOf}}
    {{/obj_currentObj}}{{/isTable}}
{{/delegate}}