{{%statementType=obj_getVar("statementType");INSPECT = statementType == "INSPECT" ? "INSPECT" : null;""}}
{{%curObj=obj_getCurObj();""}}
{{#$INSPECT}}{{#$curObj}}
//TODO INSPECT
{{/curObj}}{{/INSPECT}}