{{%statementType=obj_getVar("statementType");UNSTRING = statementType == "UNSTRING" ? "UNSTRING" : null;""}}
{{%curObj=obj_getCurObj();""}}
{{#$UNSTRING}}{{#$curObj}}
//TODO UNSTRING
{{/curObj}}{{/UNSTRING}}