{{%
    subparameters="subparameters";
    parametersWithoutType=null;
    parameters = null;
""}}{{#usingClause.usingParameters}}{{>callSub.parameter}}{{/usingClause.usingParameters}}{{%subparameters=null;""}}