{{%statementType=obj_getVar("statementType");IF = statementType == "IF" ? "IF" : null;""}}
{{#$IF}}
    {{#condition}}{{>ifelse.condition}}{{/condition}}
    {{#then}}
        if ({{%condition}}){
        {{%nextSentence=obj_getVar("nextSentence") ? "nextSentence":null;""}}
        {{#$nextSentence}}//TODO nextSentence{{/nextSentence}}
            {{%needDefaultParagraph=null;""}}
            {{>statements}}
        }
    {{/then}}
    {{%ifElseClause = obj_getCurVar("ifElse");""}}
    {{#$ifElseClause}}
        else {
            {{%nextSentence=obj_getVar("nextSentence") ? "nextSentence":null;""}}
            {{#$nextSentence}}//TODO nextSentence{{/nextSentence}}
            {{%needDefaultParagraph=null;""}}
            {{>statements}}
        }
    {{/ifElseClause}}
{{/IF}}