{{%statementType=obj_getVar("statementType");IF = statementType == "IF" ? "IF" : null;""}}
{{#$IF}}
    {{#condition}}{{>ifelse.condition}}{{/condition}}
    {{#then}}
        if ({{%condition}}){
            {{%needDefaultParagraph=null;""}}
            {{>statements}}
        }
    {{/then}}
    {{%ifElseClause = obj_getCurVar("ifElse");""}}
    {{#$ifElseClause}}
        else {
            {{%needDefaultParagraph=null;""}}
            {{>statements}}
        }
    {{/ifElseClause}}
{{/IF}}