{{%
    arithmeticExpression=expr_convertExpr(obj_getVar("ctx"));
    //println("====ctx=" +obj_getVar("ctx.text")+",arithmeticExpression=" +arithmeticExpression);
""}}
{{!--#multDivs}}
    {{#powers}}
        {{#basis}}
            {{#basisValueStmt}}
                {{#call}}{{>call}}{{/call}}
                {{#literal}}{{>literal}}{{/literal}}
            {{/basisValueStmt}}
        {{/basis}}
        {{*powers}}
    {{/powers}}
    {{*multDivs}}
{{/multDivs}}
{{#plusMinus}}

{{/plusMinus--}}