
{{>call.funcCall[funcCall]}}
{{%operand=funcCall;""}}
{{^$funcCall}}
    {{>call.specRegCall}}
    {{%operand=specRegCall;""}}
    {{^$specRegCall}}
        {{>call.tableCall}}
        {{%operand=tableCall;""}}
        {{^$tableCall}}
            {{>call.qlfNameCall}}
            {{%operand=qlfNameCall;""}}
        {{/tableCall}}
    {{/specRegCall}}
{{/funcCall}}