
{{#delegate}}
    {{#identifierCall}}
        {{>call}}
    {{/identifierCall}}
    {{%
        dimString = null;
        callType = obj_getVar("callType");
        isTable = callType == "TABLE_CALL";
        isLengthOf = callType == "SPECIAL_REGISTER_CALL" && obj_getVar("type") == "LENGTH_OF";
        isFunction = callType == "FUNCTION_CALL";
        operand = isLengthOf ? "Util.lengthOf("+operand+")": expr_convertExpr(obj_getVar("ctx"));
        //println("****ctx=" +obj_getVar("ctx.text")+",operand=" +operand);
        operand= (callType != "DATA_DESCRIPTION_ENTRY_CALL" && callType != "UNDEFINED_CALL" && !isTable && !isLengthOf) ? "//TODO " + obj_getVar("delegate.ctx.text"):
        operand;
    ""}}
{{/delegate}}