{{#dataDivision}}
    {{%innerMap = obj_newMap();""}}
    {{#workingStorageSection}}
        {{#rootDataDescriptionEntries}}
            {{#execSqlText}}//TODO execSqlText{{/execSqlText}}
            {{%IsFiller=null;""}}
            {{#filler}} {{%IsFiller="IsFiller";""}}{{/filler}}
            {{%curObj=obj_getCurObj();""}}
            {{^execSqlText}}{{^$IsFiller}}{{#$curObj}}
                {{%isInnerClass=null;innerClsLevel = 0;""}}
                {{>comment}}
                {{>model.model}}
                {{>model.unused}}
            {{/curObj}}{{/IsFiller}}{{/execSqlText}}
        {{/rootDataDescriptionEntries}}
    {{/workingStorageSection}}
{{/dataDivision}}

