{{#dataDivision}}
    {{%innerMap = obj_newMap();""}}
    {{%importsMap = obj_newMap();""}}
    {{#workingStorageSection}}
        {{#rootDataDescriptionEntries}}
            {{#execSqlText}}//TODO execSqlText{{/execSqlText}}
            {{%IsFiller=null;""}}
            {{%curObj=obj_getCurObj();""}}
            {{^-first}}
                {{%must_saveBuff();""}}
            {{/-first}}
            {{^execSqlText}}{{#$curObj}}
                {{%
                    isInnerClass=null;
                    innerClsLevel = 0;
                    IsInCopyBook = "IsInCopyBook";
                    var_push(IsConstantCopybook);
                ""}}
                {{>comment}}
                {{>model.model}}
                {{>model.unused}}
                {{%IsConstantCopybook=var_pop();""}}
            {{/curObj}}{{/execSqlText}}
            {{^-first}}
                {{%
                    clsContent = must_popBuff();
                    obj_addToMap(innerMap,clsName,clsContent);
                ""}}
            {{/-first}}
        {{/rootDataDescriptionEntries}}
    {{/workingStorageSection}}
    {{%
        //clsName=="Pksaacn1"?println("importsMap:"+importsMap):"";
    ""}}
{{/dataDivision}}

