{{#dataDivision}}
    {{%innerMap = obj_newMap();""}}
    {{#workingStorageSection}}
        //workingStorageSection
        {{#rootDataDescriptionEntries}}
            {{#execSqlText}}//TODO execSqlText{{/execSqlText}}
            {{%curObj=obj_getCurObj();""}}
            {{^execSqlText}}{{#$curObj}}
                {{%isInnerClass=null;innerClsLevel = 0;""}}
                //==========copybook.mustache========
                {{>comment}}
                {{>model.model}}
                {{>model.unused}}
            {{/curObj}}{{/execSqlText}}
        {{/rootDataDescriptionEntries}}
    {{/workingStorageSection}}
{{/dataDivision}}

