{{>callSub.funcparam[func_parameters,func_parametersWithoutType,needDefaultParagraph]}}
{{%isContinue="isContinue";noNeedComment="noNeedComment";""}}
public void procedure({{%func_parameters}}){
    {{%mainClassName}}Handler handler = new {{%mainClassName}}Handler({{%func_parametersWithoutType}});
    {{>statements(noNeedComment)}}
    {{#paragraphs}}
        {{#$isContinue}}
            {{%theName= name_toField(obj_getVar("name"));""}}
            {{#$theName}}
                handler.{{%theName}}();
            {{/theName}}
        {{/isContinue}}
        {{#statements}}
            {{%
                statementType=obj_getVar("statementType");
                isContinue = (statementType == "STOP" ||
                            statementType == "GO_BACK" ||
                            statementType == "EXIT") ? null : isContinue;
            ""}}
        {{/statements}}
    {{/paragraphs}}
}
