{{%dimension=0;dimStr=null;dimLevelStr=null;""}}
{{#occursClauses}}
    {{#from}}
        {{>literal}}
        {{%
            dimension=operand;
            dimStr = dimension != null ? dimension : null;
            dimLevelStr = dim_value();
        ""}}
    {{/from}}
    {{#occursIndexed}}
        {{#indices}}
            {{%
                indexName=name_toField(obj_getVar("name"));
                theQlfName = name_putInnerField(indexName);
                name_setFieldType(theQlfName,"Integer");
            ""}}
            int {{%indexName}} = 0;
        {{/indices}}
    {{/occursIndexed}}
    {{#to}}
        {{%maxLength=obj_getVar("value");""}}
    {{/to}}
    {{#occursDepending}}
        {{#dependingOnCall}}
            {{%dependingName=name_toField(obj_getVar("delegate.name"));""}}
        {{/dependingOnCall}}
    {{/occursDepending}}
    {{#occursSorts}}
        {{%
            sortOrder= obj_getVar("order");
            sortFields = null;
        ""}}
        {{#keyCalls}}
            {{%
                sortField=name_toField(obj_getVar("delegate.name"));
                sortFields=sortFields == null ? sortField:sortFields +","+sortField;
            ""}}
        {{/keyCalls}}
    {{/occursSorts}}
    {{%
        tempNeed = maxLength != null || dependingName != null ||
            sortFields != null ? "needAnnotation":null;
        annotationNeed = annotationNeed == null ? null : tempNeed;
    ""}}
    {{#$annotationNeed}}
        @ArrayInfo(//-
            {{#$maxLength}}maxLength = {{%maxLength}}, {{/maxLength}}
            {{#$dependingName}}dependOn = "{{%dependingName}}", {{/dependingName}}
            {{#$sortFields}}sortFields = "{{%sortFields}}", {{/sortFields}}
            {{#$sortOrder}}order = "{{%sortOrder}}",{{/sortOrder}}
            end="end"
        )//for Array;
    {{/annotationNeed}}
{{/occursClauses}}