{{%dimension=0;dimStr=null;dimLevelStr=null;""}}
{{#occursClauses}}
    {{#from}}
        {{>literal}}
        {{%
            dimension=operand;
            dimStr = dimension != null ? dimension : null;
            dimLevelStr = dim_value();
        ""}}
    {{/from}}
    {{#to}}
        //TODO occurse to;
    {{/to}}
    {{#occursDepending}}
        //TODO occursDepending;
    {{/occursDepending}}
    {{#occursIndexed}}
        {{#indices}}
            {{%
                indexName=name_toField(obj_getVar("name"));
                name_putInnerField(indexName);
                name_setFieldType(indexName,"Integer");
            ""}}
            int {{%indexName}} = 0;
        {{/indices}}
    {{/occursIndexed}}
    {{#occursSorts}}
        //TODO occursSorts;
    {{/occursSorts}}
{{/occursClauses}}