{{#procedureDivision}}
    {{>defaultProcedure}}
    {{%
        func_parameters=parameters == null ? "":parameters;
        func_parametersWithoutType=parametersWithoutType == null ? "":parametersWithoutType;
    ""}}
    {{%retType=null;retName=null;""}}
    {{#givingClause}}{{#givingCall}}{{%
        operand = name_toField(obj_getVar("name"));
        retName=operand;retType=name_getFieldType(operand);""}}{{/givingCall}}
    {{/givingClause}}
    {{#paragraphs}}
        {{%funcName=name_toField(obj_getVar("name"));""}}
        {{%curObj=obj_getCurObj();""}}
        {{#$funcName}}{{#$curObj}}
            public {{#$retType}}{{%retType}}{{/retType}}{{^$retType}}void{{/retType}} {{%name_toField(obj_getVar("name"))}}({{%func_parameters}}){
                {{#$retName}}{{%retType}} {{%retName}};{{/retName}}
                {{#section}}//TODO section{{/section}}
                {{>statements}}
                {{#$retName}}return {{%retName}};{{/retName}}
            }
        {{/curObj}}{{/funcName}}
    {{/paragraphs}}
    {{#declaratives}}//TODO declaratives{{/declaratives}}
    {{#sections}}{{#-first}}//TODO sections{{/-first}}{{/sections}}
{{/procedureDivision}}