package {{% model_package}};
import free.cobol2java.java.*;
//#importsMark#

{{%
    DEBUG="program1";
    orgMainClsName = obj_getVar("identificationDivision.programIdParagraph.name");
    mainClassName=name_toClass(str_replace(orgMainClsName,"'",""));
""}}
{{%
    importsMap = obj_newMap();
    imports=obj_newList();
    obj_addToMap(importsMap,mainClassName,imports);
""}}
public class {{%mainClassName}} {
{{#environmentDivision}}//TODO environmentDivision{{/environmentDivision}}
{{#identificationDivision}}
    {{#authorParagraph}}//TODO authorParagraph{{/authorParagraph}}
    {{#dateCompiledParagraph}}//TODO dateCompiledParagraph{{/dateCompiledParagraph}}
    {{#installationParagraph}}//TODO installationParagraph{{/installationParagraph}}
    {{#securityParagraph}}//TODO securityParagraph{{/securityParagraph}}
    {{#dateWrittenParagraph}}//TODO dateWrittenParagraph{{/dateWrittenParagraph}}
    {{#remarksParagraph}}//TODO remarksParagraph{{/remarksParagraph}}
{{/identificationDivision}}
{{#dataDivision}}
    {{%innerMap = obj_newMap();""}}
    {{#communicationSection}}//TODO communicationSection{{/communicationSection}}
    {{#dataBaseSection}}//TODO dataBaseSection{{/dataBaseSection}}
    {{#fileSection}}//TODO fileSection{{/fileSection}}
    {{#localStorageSection}}//TODO localStorageSection{{/localStorageSection}}
    {{#programLibrarySection}}//TODO programLibrarySection{{/programLibrarySection}}
    {{#reportSection}}//TODO reportSection{{/reportSection}}
    {{#screenSection}}//TODO screenSection{{/screenSection}}
    {{#workingStorageSection}}
        //workingStorageSection
        {{#rootDataDescriptionEntries}}
            {{#execSqlText}}{{>sql.cobolsql}}{{/execSqlText}}
            {{%curObj=obj_getCurObj();""}}
            {{^execSqlText}}{{#$curObj}}
                {{%isInnerClass="isInnerClass";innerClsLevel = 0;""}}
                {{>comment}}
                {{>model.model}}
                {{>model.unused}}
            {{/curObj}}{{/execSqlText}}
        {{/rootDataDescriptionEntries}}
    {{/workingStorageSection}}
{{/dataDivision}}
{{#dataDivision}}
    {{#linkageSection.rootDataDescriptionEntries}}
        {{#-first}}//linkageSection class define{{/-first}}
        {{%isInnerClass="isInnerClass";innerClsLevel = 0;""}}
        {{>comment}}
        {{>model.model}}
        {{>model.picture}}
        {{>model.unused}}
        {{#-last}}//End of linkageSection class define{{/-last}}
    {{/linkageSection.rootDataDescriptionEntries}}
{{/dataDivision}}
{{#dataDivision}}
    {{#localStorageSection.rootDataDescriptionEntries}}
        {{#-first}}//localStorageSection class define{{/-first}}
        {{%isInnerClass="isInnerClass";innerClsLevel = 0;""}}
        {{>comment}}
        {{>model.model}}
        {{>model.picture}}
        {{>model.unused}}
        {{#-last}}//End of linkageSection class define{{/-last}}
    {{/localStorageSection.rootDataDescriptionEntries}}
    {{@$innerMap}}{{#value}}{{this}}{{/value}}{{/innerMap}}
{{/dataDivision}}
{{#dataDivision.workingStorageSection.rootDataDescriptionEntries}}
    {{#-first}}
        {{%hasWorkingData="hasWorkingData";""}}
    {{/-first}}
    {{%curObj=obj_getCurObj();""}}
    {{#$hasWorkingData}}{{#$curObj}}
        {{>progProperties}}
    {{/curObj}}{{/hasWorkingData}}

{{/dataDivision.workingStorageSection.rootDataDescriptionEntries}}
class {{%mainClassName}}Handler{
    {{#dataDivision.linkageSection.rootDataDescriptionEntries}}
        {{#-first}}//linkageSection fields define{{/-first}}
        {{>progProperties}}
        {{#-last}}//End of linkageSection fields define{{/-last}}
    {{/dataDivision.linkageSection.rootDataDescriptionEntries}}
    {{#dataDivision.localStorageSection.rootDataDescriptionEntries}}
        {{#-first}}//localStorageSection fields define{{/-first}}
        {{>progProperties}}
        {{#-last}}//End of localStorageSection fields define{{/-last}}
    {{/dataDivision.localStorageSection.rootDataDescriptionEntries}}
    {{#procedureDivision}}
        {{>callSub.funcparam}}
        {{%mainClassName}}Handler({{%func_parameters}}){
            {{%func_initStmt}}
        }
    {{/procedureDivision}}
    {{>procedure}}
}
{{#procedureDivision}}
    {{>callSub.funcparam}}
    {{>defaultProcedure}}
{{/procedureDivision}}

}
