{{#statements}}
    {{>comment}}
    {{^$noNeedComment}}
    //{{%ctx_toText(obj_getVar("ctx"))}}
    {{/noNeedComment}}
    {{>baseActions.accept}}
    {{>baseActions.display}}
    {{>baseActions.init}}
    {{>baseActions.move}}
    {{>baseActions.add}}
    {{>baseActions.substract}}
    {{>baseActions.multiply}}
    {{>baseActions.divide}}
    {{>baseActions.compute}}
    {{>baseActions.set}}
    {{>baseActions.search}}
    {{>loop.perform}}
    {{>loop.goto}}
    {{>callSub.callsub}}
    {{>ifelse.ifstmt}}
    {{>string.string}}
    {{>string.unstring()}}
    {{>string.inspect}}
    {{>sql.execsql}}
    {{>eval.eval}}
    {{>unusedstatements}}
{{/statements}}