{{%statementType=obj_getVar("statementType");GO_TO = statementType == "GO_TO" ? "GO_TO" : null;""}}
{{#$GO_TO}}
    {{#simple}}{{#procedureCall}}
        {{>loop.procedureName}}{{%procedureCall}};
    {{/procedureCall}}{{/simple}}
    {{#dependingOnPhrase}}
        {{#dependingOnCall}}{{>call}}{{/dependingOnCall}}
        {{#moreLabels}}//TODO: moreLabels{{/moreLabels}}
        switch({{%operand}}){
        {{#procedureCalls}}
            case {{-index}}:{
                {{>loop.procedureName}}{{%procedureCall}};
                break;
            }
        {{/procedureCalls}}
        }
    {{/dependingOnPhrase}}
{{/GO_TO}}