{{%times=null;testClause==null;varying=null;until=null;""}}
{{#performType}}
    {{%performType = "performType";""}}
    {{>loop.times}}
    {{#until}}
        {{%until="until";""}}
        {{>loop.until}}
    {{/until}}
    {{#varying}}
        {{%varying="varying";""}}
        {{#varyingClause}}{{>loop.varyingClause}}{{/varyingClause}}
        {{#testClause}}{{>loop.testClause}}{{/testClause}}
    {{/varying}}
{{/performType}}