{{%performType = null;""}}
{{#performInlineStatement}}{{>loop.performType}}{{/performInlineStatement}}
{{#performProcedureStatement}}{{>loop.performType}}{{/performProcedureStatement}}
{{#$times}}
        for(int i = 0;i<{{%times}};i++){
{{/times}}
{{#$until}}
    {{#$condition}}
        {{#$before}}while(!({{%condition}})){ {{/before}}
        {{#$after}}do{ {{/after}}
        {{^$before}}{{^$after}}
            while(!({{%condition}})){
        {{/after}}{{/before}}
    {{/condition}}
{{/until}}
{{#$varying}}
        for(int {{%varValue}}={{%fromValue}};{{%condition}};{{%varValue}} += {{%stepValue}}){
{{/varying}}
{{%var_push(until);var_push(before);var_push(after);""}}
{{#performInlineStatement}}{{>statements}}{{/performInlineStatement}}
{{%after = var_pop();before = var_pop();until=var_pop();""}}
{{#performProcedureStatement}}{{#calls}}{{>loop.procedureName}}
{{%procedureCall}};
{{/calls}}{{/performProcedureStatement}}
{{#$times}}
    }
{{/times}}
{{#$until}}
    {{#$condition}}
        {{#$before}}
            }
        {{/before}}
        {{#$after}}
            }while(!({{%condition}}));
        {{/after}}
        {{^$before}}{{^$after}}
            }
        {{/after}}{{/before}}
    {{/condition}}
{{/until}}
{{#$varying}}
    }
{{/varying}}