{{^pictureClause}}
    {{%
        clsName=name_toClass(obj_getVar("name"));
        name_enterClass(name_toField(obj_getVar("name")));
    ""}}
    {{#dataDescriptionEntries}}{{>dimstr}}
        {{%innerMap = obj_newMap();""}}
        {{#-first}}
        class {{%clsName}} {
        {{/-first}}
                {{>comment}}
                {{>model.properties}}
                {{>model.propertiesInnerClass}}
        {{#-last}}
        }{{/-last}}
        {{@$innerMap}}{{#value}}{{value}}{{/value}}{{/innerMap}}
    {{/dataDescriptionEntries}}{{%name_exitClass();""}}
{{/pictureClause}}
