    {{^pictureClause}}
        {{%
            innerCls = name_toClass(obj_getVar("name"));
            filedName = name_toField(obj_getVar("name"));
            theQlfName=name_putInnerField(filedName);
            name_enterClass(filedName);
        ""}}
    {{%isInnerClass == "yes" ? "" :"private "}}{{%innerCls)}}{{#$dimStr}}[]{{/dimStr}} {{%filedName}}{{#$dimStr}} = new {{%innerCls}}[{{%dimStr}}]{{/dimStr}};
        {{%
            dimStr = null;
            clsName=innerCls;isInnerClass="yes";
        ""}}{{*dataDescriptionEntries}}{{%name_exitClass();isInnerClass=="yes" ?dim_pop():null;""}}
    {{/pictureClause}}