    {{^pictureClause}}{{>model.nopicture}}
    {{%isInnerClass == "yes" ? "" :"private "}}{{%innerCls)}}{{#$dimStr}}[]{{/dimStr}} {{%filedName}}{{#$dimStr}} = new {{%innerCls}}[{{%dimStr}}]{{/dimStr}};
        {{%
            dimStr = null;
            clsName=innerCls;isInnerClass="yes";
        ""}}{{%must_saveBuff();""}}{{*dataDescriptionEntries}}{{%name_exitClass();clsContent = must_popBuff();obj_addToMap(innerMap,clsName, clsContent);isInnerClass=="yes" ?dim_pop():null;""}}
    {{/pictureClause}}