{{#alignedClause}}//TODO {{%obj_getVar("name")}} alignedClause{{/alignedClause}}
{{#blankWhenZeroClause}}//TODO {{%obj_getVar("name")}} blankWhenZeroClause{{/blankWhenZeroClause}}
{{#commonOwnLocalClause}}//TODO {{%obj_getVar("name")}} commonOwnLocalClause{{/commonOwnLocalClause}}
{{#externalClause}}//TODO {{%obj_getVar("name")}} externalClause{{/externalClause}}
{{#filler}}//TODO {{%obj_getVar("name")}} filler{{/filler}}
{{#globalClause}}//TODO {{%obj_getVar("name")}} globalClause{{/globalClause}}
{{#integerStringClause}}//TODO {{%obj_getVar("name")}} integerStringClause{{/integerStringClause}}
{{#justifiedClause}}//TODO {{%obj_getVar("name")}} justifiedClause{{/justifiedClause}}
{{#receivedByClause}}//TODO {{%obj_getVar("name")}} receivedByClause{{/receivedByClause}}
{{#recordAreaClause}}//TODO {{%obj_getVar("name")}} recordAreaClause{{/recordAreaClause}}
{{#redefinesClause}}//TODO {{%obj_getVar("name")}} redefinesClause{{/redefinesClause}}
{{#signClause}}//TODO {{%obj_getVar("name")}} signClause{{/signClause}}
{{#synchronizedClause}}//TODO {{%obj_getVar("name")}} synchronizedClause{{/synchronizedClause}}
{{#threadLocalClause}}//TODO {{%obj_getVar("name")}} threadLocalClause{{/threadLocalClause}}
{{#typeClause}}//TODO {{%obj_getVar("name")}} typeClause{{/typeClause}}
{{#typeDefClause}}//TODO {{%obj_getVar("name")}} typeDefClause{{/typeDefClause}}
{{#usageClause}}//TODO {{%obj_getVar("name")}} usageClause{{/usageClause}}
{{!--#usingClause}}//TODO {{%obj_getVar("name")}} usingClause{{/usingClause--}}
{{#withLowerBoundsClause}}//TODO {{%obj_getVar("name")}} withLowerBoundsClause{{/withLowerBoundsClause}}
{{!--#levelNumber}}//TODO {{%obj_getVar("name")}} levelNumber{{/levelNumber--}}