{{%statementType=obj_getVar("statementType");PERFORM = statementType == "PERFORM" ? "PERFORM" : null;""}}
{{%curObj=obj_getCurObj();""}}
{{#$PERFORM}}{{#$curObj}}
    {{>loop.procProcedure}}
{{/curObj}}{{/PERFORM}}