{{#varyingPhrase}}
    {{#fromPhrase}}
        {{#fromValueStmt.literal}}{{>literal}}{{%fromValue=operand;""}}{{/fromValueStmt.literal}}
    {{/fromPhrase}}
    {{#byPhrase}}
        {{#byValueStmt.literal}}{{>literal}}{{%stepValue=operand;""}}{{/byValueStmt.literal}}
    {{/byPhrase}}
    {{#until}}{{>loop.until}}{{/until}}
    {{#varyingValueStmt}}
        {{#call}}{{%varValue=name_toField(obj_getVar("delegate.delegate.name"));""}}{{/call}}
    {{/varyingValueStmt}}
{{/varyingPhrase}}