{{#varyingPhrase}}
    {{#fromPhrase}}
        {{#fromValueStmt}}
            {{#literal}}{{>literal}}{{/literal}}
            {{#call}}{{>call}}{{/call}}
            {{#arithmeticExpression}}{{>arithmetic}}{{%operand=arithmeticExpression;""}}{{/arithmeticExpression}}
            {{%fromValue=operand;""}}
        {{/fromValueStmt}}
    {{/fromPhrase}}
    {{#byPhrase}}
        {{#byValueStmt}}
            {{#literal}}{{>literal}}{{/literal}}
            {{#call}}{{>call}}{{/call}}
            {{#arithmeticExpression}}{{>arithmetic}}{{%operand=arithmeticExpression;""}}{{/arithmeticExpression}}
            {{%stepValue=operand;""}}
        {{/byValueStmt}}
    {{/byPhrase}}
    {{#until}}{{>loop.until}}{{/until}}
    {{#varyingValueStmt}}
        {{#call}}{{%varValue=name_toField(obj_getVar("delegate.delegate.name"));""}}{{/call}}
    {{/varyingValueStmt}}
{{/varyingPhrase}}