{{%statementType=obj_getVar("statementType");ADD = statementType == "ADD" ? "ADD" : null;""}}
{{%curObj=obj_getCurObj();""}}
{{#$ADD}}{{#$curObj}}
    {{%addValue = "";""}}
    {{#addToStatement}}
        {{>baseActions.addfroms}}
    {{/addToStatement}}
    {{#addToGivingStatement}}
        {{>baseActions.addfroms}}
    {{/addToGivingStatement}}
    {{#addCorrespondingStatement}}//TODO addCorrespondingStatement{{/addCorrespondingStatement}}
    {{#notOnSizeErrorPhrase}}//TODO ADD notOnSizeErrorPhrase{{/notOnSizeErrorPhrase}}
    {{#onSizeErrorPhrase}}//TODO ADD onSizeErrorPhrase{{/onSizeErrorPhrase}}
{{/curObj}}{{/ADD}}