{{%addValue = "";""}}
{{#froms}}
    {{#fromValueStmt}}
        {{#literal}}{{>literal}}{{/literal}}
        {{#call}}{{>call}}{{/call}}
        {{%addValue = addValue + operand +"+";""}}
    {{/fromValueStmt}}
{{/froms}}
{{#tos}}
    {{^givings}}
        {{#literal}}{{>literal}}{{/literal}}
        {{#toCall}}{{>call}}{{/toCall}}{{%setValue = addValue;setName=operand;""}}
        {{%setName}}={{%setValue}}{{%setName}};
    {{/givings}}
    {{#givings}}
        {{#literal}}{{>literal}}{{/literal}}
        {{#toValueStmt.call}}{{>call}}{{/toValueStmt.call}}{{%setValue = addValue;setName=operand;""}}
        {{%setValue = addValue + operand+"+";""}}
    {{/givings}}
{{/tos}}
{{#givings}}
    {{#literal}}{{>literal}}{{/literal}}
    {{#givingCall}}{{>call}}{{/givingCall}}{{%setName=operand;""}}
        {{%setName}}={{%setValue}}{{%setName}};
{{/givings}}

