{{%addValue = "";""}}
{{#froms}}
    {{#fromValueStmt}}
        {{#literal}}{{>literal}}{{/literal}}
        {{#call}}{{>call}}{{/call}}
        {{%addValue = addValue + operand +"+";""}}
    {{/fromValueStmt}}
{{/froms}}
{{#tos}}
        {{#toCall}}
            {{>call}}
            {{%setValue = addValue;setName=operand;""}}
            {{%setName}}={{%setValue}}{{%setName}};
            {{%rounded= obj_getVar("rounded")? "rounded":null;""}}
            {{#$rounded}}//TODO add rounded{{/rounded}}
        {{/toCall}}
        {{#toValueStmt.call}}
            {{>call}}
            {{%setValue = addValue;setName=operand;""}}
            {{%setValue = addValue + operand+"+";""}}
        {{/toValueStmt.call}}
{{/tos}}
{{#givings}}
    {{#literal}}{{>literal}}{{/literal}}
    {{#givingCall}}{{>call}}{{/givingCall}}{{%setName=operand;""}}
        {{%setName}}={{%setValue}}{{%setName}};
{{/givings}}

