{{%statementType=obj_getVar("statementType");COMPUTE = statementType == "COMPUTE" ? "COMPUTE" : null;""}}
{{#$COMPUTE}}
    {{#arithmeticExpression}}{{>arithmetic}}{{/arithmeticExpression}}
    {{#stores}}
        {{#storeCall}}{{>call}}{{%storeName=operand;""}}{{/storeCall}}
        {{%
            rounded=obj_getVar("rounded") ? "yes":null;
        ""}}
        {{%storeName}}={{#$rounded}}Math.round({{/rounded}}{{%arithmeticExpression}}{{#$rounded}}){{/rounded}};
    {{/stores}}
    {{#notOnSizeErrorPhrase}}//TODO COMPUTE notOnSizeErrorPhrase{{/notOnSizeErrorPhrase}}
    {{#onSizeErrorPhrase}}//TODO COMPUTE onSizeErrorPhrase{{/onSizeErrorPhrase}}
{{/COMPUTE}}