{{%statementType=obj_getVar("statementType");DISPLAY = statementType == "DISPLAY" ? "DISPLAY" : null;""}}
{{%curObj=obj_getCurObj();""}}
{{#$DISPLAY}}{{#$curObj}}
    Util.output({{>baseActions.dispopnd}});
{{/curObj}}{{/DISPLAY}}