{{#intos}}
    {{#givingCall}}
        {{%rounded = (obj_getVar("rounded") +"") == "true" ? "yes":null;""}}
        {{>call}}{{%intoValue = operand;"")}}
        {{%delegate}} = {{#$rounded}}Math.round({{/rounded}}{{%intoValue}} / {{%divideOpand}}{{#$rounded}}){{/rounded}};
        {{#$remainder}}{{%remainder}}={{%intoValue}} % {{%divideOpand}};{{/remainder}}
    {{/givingCall}}
{{/intos}}
{{#byValueStmt}}
    {{#literal}}{{>literal}}{{/literal}}
    {{#call}}{{>call}}{{/call}}
    {{%intoValue=divideOpand;divideOpand=operand;""}}
{{/byValueStmt}}
{{#intoValueStmt}}
    {{#literal}}{{>literal}}{{/literal}}
    {{#call}}{{>call}}{{/call}}
    {{%intoValue=operand;""}}
{{/intoValueStmt}}
{{#givingPhrase}}
    {{#givings}}
        {{%rounded = (obj_getVar("rounded") +"") == "true" ? "yes":null;""}}
        {{#givingCall}}{{>call}}{{%delegate = operand;""}}{{/givingCall}}
        {{%delegate}} = {{#$rounded}}Math.round({{/rounded}}{{%intoValue}} / {{%divideOpand}}{{#$rounded}}){{/rounded}};
        {{#$remainder}}{{%remainder}}={{%intoValue}} % {{%divideOpand}};{{/remainder}}
    {{/givings}}
{{/givingPhrase}}
