{{%statementType=obj_getVar("statementType");INITIALIZE = statementType == "INITIALIZE" ? "INITIALIZE" : null;""}}
{{#$INITIALIZE}}
    {{%byValue=null;""}}
    {{#replacingPhrase.bys}}
        {{#valueStmt}}{{>call}}{{#literal}}{{>literal}}{{/literal}}{{%byValue=operand;""}}{{/valueStmt}}
    {{/replacingPhrase.bys}}
    {{#dataItemCalls}}
    {{>call}}{{%
        setName=operand;
        setValue=byValue == null ? "Util.init(\""+name_getFieldType(setName) + "\");":byValue+";" ;
    ""}}
        {{%setName}}={{%setValue}}{{/dataItemCalls}}
{{/INITIALIZE}}