{{%statementType=obj_getVar("statementType");MULTIPLY = statementType == "MULTIPLY" ? "MULTIPLY" : null;""}}
{{#$MULTIPLY}}
    {{#operandValueStmt}}{{#literal}}{{>literal}}{{/literal}}
    {{#call}}{{>call}}{{/call}}{{%multiplyValue = operand;""}}{{/operandValueStmt}}
    {{#byPhrase}}{{>baseActions.multiplyby}}{{/byPhrase}}
    {{#givingPhrase}}{{>baseActions.multiplyby}}{{/givingPhrase}}
{{/MULTIPLY}}