{{%statementType=obj_getVar("statementType");MULTIPLY = statementType == "MULTIPLY" ? "MULTIPLY" : null;""}}
{{%curObj=obj_getCurObj();""}}
{{#$MULTIPLY}}{{#$curObj}}
    {{#operandValueStmt}}{{#literal}}{{>literal}}{{/literal}}
    {{#call}}{{>call}}{{/call}}{{%multiplyValue = operand;""}}{{/operandValueStmt}}
    {{#byPhrase}}{{>baseActions.multiplyby}}{{/byPhrase}}
    {{#givingPhrase}}{{>baseActions.multiplyby}}{{/givingPhrase}}
    {{#notOnSizeErrorPhrase}}//TODO MULTIPLY notOnSizeErrorPhrase{{/notOnSizeErrorPhrase}}
    {{#onSizeErrorPhrase}}//TODO MULTIPLY onSizeErrorPhrase{{/onSizeErrorPhrase}}
{{/curObj}}{{/MULTIPLY}}