{{#byOperands}}
    {{#operandCall}}
        {{>call}}
        {{%operand}} = {{%operand}} * {{%multiplyValue}};
    {{/operandCall}}
{{/byOperands}}
{{#givingOperand}}
    {{#operandValueStmt}}{{#literal}}{{>literal}}{{/literal}}
    {{#call}}{{>call}}{{/call}}{{%sendValue = operand;""}}{{/operandValueStmt}}
    {{#results}}
        {{#resultCall}}{{>call}}{{/resultCall}}
        {{%operand}} = {{%sendValue}} * {{%multiplyValue}};
    {{/results}}
{{/givingOperand}}
